p {
  background-color: #fa0cc6;
}
div {
  color: #4ea9f3;
  font-size: 45px;
}
.cooler {
  background-color: #fc0aab;
  font-size: 30px;
}
.another {
  background-color: #7bfc03;
  color: black;
}
.class {
  background-color: rgb(238, 10, 151);
}
